networks:
  default:
    driver: bridge

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file: .env
    networks:
      - default

  mongo:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
      - MONGO_INITDB_DATABASE=dropnote
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - default

volumes:
  mongo_data:
    driver: local
